apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: interview-prep
spec:
  type: NodePort
  selector:
    app: backend
  ports:
    - port: 8000
      targetPort: 8000
      nodePort: 30800
